@font-face { 
    /* ① ここにfont-familyで指定したい名前を書く*/
    font-family: "Jiyucho";
    src: url(./fonts/Jiyucho.ttf) format(truetype);
}


body{
    font-family: "MS Pゴシック";
    background-image: url(./character_image.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
ul{
    padding: 0;
}
li{
    list-style: none;
    padding:3px 0;
}
h1{
    text-align: center;
}

.character_image{
    height:300px;
}

img{
    width:100%;
    object-fit:cover
}

.chat_container{
    position: fixed;
    bottom:50px;
    top:425px;
    width:100%;
    height:calc(465)px;
    background-color:rgba(200,200,200,0.9);
    padding: 5px 0;
    border-top: 3px dashed #876d46b1;
    border-bottom: 3px dashed #615748b1;
    
    /*横向きのスクロール禁止*/
    overflow-x: hidden;
    /*縦向きのスクロール許可*/
    overflow-y: scroll;
    /*スマホでは指でスクロール*/
    -webkit-overflow-scrolling: touch;
}

/*botの吹き出し*/
.chatbot-left{
    max-width: 50%;
    display: inline-block;
    word-wrap: break-word;
    margin-right: 20px;
    padding:3px 10px;
    background: #e6f7f4;
    text-align: left;
    border-radius: 0 9px 9px 9px;
    color: #379078;
}

/*自分の吹き出し*/
.chatbot-right{
    max-width: 50%;
    display: inline-block;
    word-wrap: break-word;
    margin-left: 20px;
    padding:3px 10px;
    background: #459993;
    text-align: left;
    border-radius: 9px 0 9px 9px;
    color: #FFF;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}


.chat_container::-webkit-scrollbar{
    display: none;
}
  

#chat-ul > li{
    position: relative;
    /* display: block; */
    width: 100%;
    padding-bottom: 10px;
    word-wrap: break-word;
}

#chat-ul > li > div {
    display: inline-block;
    box-sizing: border-box;
    min-height: 23px;
    max-width: 70%;
    padding: 7px 13px;
    font-size: 16px;
    line-height: 1.3em;
    position: relative;
}
#loading_text{
    color:#4a795f;
    animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
    font-family: "Jiyucho";
    display: relative;
    bottom:0;
    text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
    -1px 1px 0 #FFF, 1px -1px 0 #FFF,
    0px 1px 0 #FFF,  0-1px 0 #FFF,
    -1px 0 0 #FFF, 1px 0 0 #FFF;
}
@keyframes floating-y {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(10%);
    }
  }




.user_textarea{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    height: 3em;
}


.user_textbox{
    width:80%;
    background-color: #eeeeee;
    height: 1.4em;
    border-radius: 5px;
    border-width: 2px;
    border-color: #8B8779;
    border-style: solid;
}

.send_icon{
    color: #09858a;
}